<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>상세보기 / <a href="/list">List</a> </h3>
 
    <th>id: {{dto.idx}}</th><br/>
    <th>hit: {{dto.hit}}</th><br/>
    <th>writer: {{dto.writer}}</th><br/>
    <th>title: {{dto.title}}</th><br/>
    <th>content: {{dto.content}}</th><br/>
    <th>date: {{dto.post_date}}</th><br/>
    <th>file: {{dto.filename}}</th><br/>
    <br/>
    <a href="/update/{{dto.idx}}/">수정 / </a>
    <a href="/delete/{{dto.idx}}/">삭제</a> 
</body>
</html>